/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    margin-bottom: 100px; /* Adjust as needed */
}

/* Header Styles */
h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #555;
    margin-left: 20px;
}

h3 {
    color: #777;
    margin-left: 40px;
}

/* Paragraph Styles */
p {
    color: #666;
    line-height: 1.6;
    margin: 10px 20px;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px 20px;
}

ul li a {
    text-decoration: none;
    color: #333;
}

/* Link Styles */
a {
    color: #00f;
}

a:hover {
    text-decoration: underline;
}

/* Style for character images */
.character-img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* This ensures the aspect ratio is maintained */
    display: block; /* This can help with layout and spacing */
    margin: 10px 0; /* Add some space around the image */
    border-radius: 5px; /* Optional: Adds rounded corners to your images */
}

/* Style for list items containing character names and images */
.character-list li {
    list-style-type: none; /* Removes the default list styling */
    padding: 5px;
    margin-bottom: 15px; /* Space between each list item */
    border: 1px solid #ddd; /* Optional: Adds a border around each item */
    background-color: #f9f9f9; /* Optional: Background color for each list item */
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px; /* Adjust as needed */
}
